.bars {
    margin-bottom: 15px;
}

.bars .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bars .info span {
    font-weight: 500;
}

.bars .line {
    --bar-line-width: 80%;
    height: 5px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}

.bars .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: var(--bar-line-width);
    left: 0;
    top: 0;
    background-color: var(--primary-color);
}


.carousel {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    overflow-x: hidden;
    outline: none;
}

.carousel-container {
    display: flex;
    transition: transform .3s ease;
    transform: translate3d(0, 0, 0);
}

/* .carousel-container::after {
    content: "";
    clear: both;
    display: table;
} */

/* .carousel-item {
    float: left;
} */

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-control .carousel-next, .carousel-control .carousel-prev {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    cursor: pointer;
    transition: transform .3s ease, opacity .3s ease;
}

.carousel-control .carousel-next:hover, .carousel-control .carousel-prev:hover {
    transform: scale(1.2);
}

.carousel-control .carousel-next--hidden, .carousel-control .carousel-prev--hidden {
    opacity: 0;
    pointer-events: none;
}

.carousel-control .carousel-prev {
    right: auto;
    left: 20px;
}

.carousel-control  .carousel-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-control  .carousel-pagination .carousel-dot {
    background-color: var(--white-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    box-shadow: 0 2px 5px #3232321a;
    transition: transform .3s ease;
}

.carousel-control  .carousel-pagination .carousel-dot:hover,
.carousel-control  .carousel-pagination .carousel-dot.active {
    transform: scale(1.4);
}